<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>知乎文章转markdown</h2>
    <p>输入专栏的文章url,点击转换即可！</p>
    <p>更多知乎的功能还在开发</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <input type="text" class="form-control" id="zhihu_url" placeholder="输入专栏文章链接">
    <button type="button" class="btn btn-primary btn-lg" id="js-translate">转换</button>
  </div>

  <textarea class="form-control" id="markdown-result" rows="3"></textarea>
  <footer>
    <p>&copy; create by <a href="http://www.weibo.com/kissliux" target="_blank">流星狂飙</a> 2014</p>
  </footer>
</div>
<!-- /container -->
