<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>知乎热</title>

  <!-- Bootstrap -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/importer.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <%- partial ( 'partials/menu.ejs') %>
    <%- body %>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
      <script charset="utf-8">
        (function($) {
          $(document).ready(function() {
            $('#js-translate').on('click', function() {
              var zhihu_url = $('#zhihu_url').val();
              if (zhihu_url === '') {
                alert('先输入专栏文章的url，再转换吧');
                return;
              }
              console.log(zhihu_url);

              $.ajax({
                url: '/zhiMark/translate',
                data: {
                  zhihu_url: zhihu_url
                },
                dataType: 'json',
                success: function(data) {
                  if (data.error) {
                    alert(data.error);
                  } else {
                    $('#markdown-result').text(data.markdown);
                  }
                }
              });

            });

          });
        })($);
      </script>
</body>

</html>